In [ ]:
#join類別
#一對一join
import numpy as np
import pandas as pd

df1=pd.DataFrame({'employee':['Bob','Jake','Lisa','Sue'],
         'group':['Accounting','Engineering','Engineering','HR']})
df2=pd.DataFrame({'employee':['Lisa','Bob','Jake','Sue'],
         'hire_date':[2004,2008,2012,2014]})
print(df1)
print(df2)
df3=pd.merge(df1,df2)
print(df3)
#多對一join
df4=pd.DataFrame({'group':['Accounting','Engineering','HR'],
         'supervisor':['Carly','Guido','Steve']})
print(df4)
print(pd.merge(df3,df4))
#多對多join
df5=pd.DataFrame({'group':['Accounting','Accounting','Engineering'
             ,'Engineering','HR','HR'],
         'skills':['math','spreadsheets','coding','linux',
              'spreadsheets','organization']})
print(df5)
print(pd.merge(df1,df5))

In [ ]:
#Merge Key 規格
import numpy as np
import pandas as pd
#On關鍵字
df1=pd.DataFrame({'employee':['Bob','Jake','Lisa','Sue'],
         'group':['Accounting','Engineering','Engineering','HR']})
df2=pd.DataFrame({'employee':['Lisa','Bob','Jake','Sue'],
         'hire_date':[2004,2008,2012,2014]})
print(pd.merge(df1,df2,on='employee'))
#Left_on和Right_on關鍵字
df3=pd.DataFrame({'name':['Bob','Jake','Lisa','Sue'],
         'salary':[70000,80000,120000,90000]})
print(pd.merge(df1,df3,left_on='employee',right_on='name'))
print(pd.merge(df1,df3,left_on='employee',right_on='name').drop('name',axis=1))
print
#Lefr_index和Right_index關鍵字
df1a=df1.set_index('employee')
df2a=df2.set_index('employee')
print(df1a,df2a)
print(pd.merge(df1a,df2a,left_index=True,right_index=True))
#join預設以索引為key
print(df1a.join(df2a))
#混合索引與欄位
print(pd.merge(df1a,df3,left_index=True,right_on='name'))

In [ ]:
#在join指定集合算數運算
import numpy as np
import pandas as pd

df6=pd.DataFrame({'name':['Peter','Paul','Mary'],
         'food':['fish','beans','bread']})
df7=pd.DataFrame({'name':['Mary','Joseph'],
         'drink':['wine','bear']})
print(df6)
print(df7)
#預設為inner join
print(pd.merge(df6,df7))
#利用how指定使用不同方式
print(pd.merge(df6,df7,how='outer'))
#以左邊項目(left join)為主或是右邊項目(right join)為主
print(pd.merge(df6,df7,how='left'))
print(pd.merge(df6,df7,how='right'))

In [ ]:
#重疊欄位名稱(suffixes)
import numpy as np
import pandas as pd
df8=pd.DataFrame({'name':['Bob','Jake','Lisa','Sue'],
         'rank':[1,2,3,4]})
df9=pd.DataFrame({'name':['Bob','Jake','Lisa','Sue'],
         'rank':[3,1,4,2]})
print(df8)
print(df9)
#相衝突的欄位名稱
print(pd.merge(df8,df9,on='name'))
#使用suffixes自訂
print(pd.merge(df8,df9,on='name',suffixes=['L','R']))

In [32]:
#範例:美國聯邦州的資料
import numpy as np
import pandas as pd
popu=pd.read_csv('/content/drive/MyDrive/資料科學家/DS-Coding/python資料科學學習手冊/data/state-population.csv')
areas=pd.read_csv('/content/drive/MyDrive/資料科學家/DS-Coding/python資料科學學習手冊/data/state-areas.csv')
abbrevs=pd.read_csv('/content/drive/MyDrive/資料科學家/DS-Coding/python資料科學學習手冊/data/state-abbrevs.csv')
#data的imformation
print(popu)
print(areas.head())
print(abbrevs.head())
#先將popu與abbrevs做merge
merged=pd.merge(popu,abbrevs,left_on='state/region',right_on='abbreviation',how='left')
merged=merged.drop('abbreviation',axis=1)
print(merged)
#確認有無空值
print(merged.isnull().any())
print(merged[merged['population'].isnull()])
print(merged.loc[merged['state'].isnull(),'state/region'].unique())
#把state之空值補上
merged.loc[merged['state/region']=='PR','state']='Puerto Rico'
merged.loc[merged['state/region']=='USA','state']='United States'
#再合併一次
final=pd.merge(merged,areas,on='state',how='left')
#再確認有無空值
print(final.isnull().any())
print(final['state'][final['area (sq. mi)'].isnull()].unique())
#選擇丟棄該值(1.因為USA與PR對此資料無影響 2.所以,最後兩者的資料會被丟棄(USA沒有area,PR沒有populations))
final.dropna(inplace=True)
#選擇我們最想要的資料
data2010=final.query("year == 2010 & ages == 'total' ")
print(data2010)
#重新索引(以便最後可以方便閱讀資料),再計算各州密度
data2010.set_index('state',inplace=True)
density=data2010['population']/data2010['area (sq. mi)']
density.sort_values(ascending=False,inplace=True)#降序排列
print(density.head())#知道前5筆data(預設)
print(density.tail())#知道末端data
print(density)

     state/region     ages  year   population
0              AL  under18  2012    1117489.0
1              AL    total  2012    4817528.0
2              AL  under18  2010    1130966.0
3              AL    total  2010    4785570.0
4              AL  under18  2011    1125763.0
...           ...      ...   ...          ...
2539          USA    total  2010  309326295.0
2540          USA  under18  2011   73902222.0
2541          USA    total  2011  311582564.0
2542          USA  under18  2012   73708179.0
2543          USA    total  2012  313873685.0

[2544 rows x 4 columns]
        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707
        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA
     state/region     ages  year   population    state
0              AL  under18  2012    1117489.0  Alabama
1              AL    total  2012    4817528.0  Alabama
2              AL  under18  2010    1130966.0  Alabama
3              AL    total  2010    4785570.0  Alabama
4              AL  under18  2011    1125763.0  Alabama
...           ...      ...   ...          ...      ...
2539          USA    total  2010  309326295.0      NaN
2540          USA  under18  2011   73902222.0      NaN
2541          USA    total  2011  311582564.0      NaN
2542          USA  under18  2012   73708179.0      NaN
2543          USA    total  2012  313873685.0      NaN

[2544 rows x 5 columns]
state/region    False
ages            False
year            False
population       True
state            True
dtype: bool
     state/region     ages  year  population state
2448           PR  under18  1990         NaN   NaN
2449           PR    total  1990         NaN   NaN
2450           PR    total  1991         NaN   NaN
2451           PR  under18  1991         NaN   NaN
2452           PR    total  1993         NaN   NaN
2453           PR  under18  1993         NaN   NaN
2454           PR  under18  1992         NaN   NaN
2455           PR    total  1992         NaN   NaN
2456           PR  under18  1994         NaN   NaN
2457           PR    total  1994         NaN   NaN
2458           PR    total  1995         NaN   NaN
2459           PR  under18  1995         NaN   NaN
2460           PR  under18  1996         NaN   NaN
2461           PR    total  1996         NaN   NaN
2462           PR  under18  1998         NaN   NaN
2463           PR    total  1998         NaN   NaN
2464           PR    total  1997         NaN   NaN
2465           PR  under18  1997         NaN   NaN
2466           PR    total  1999         NaN   NaN
2467           PR  under18  1999         NaN   NaN
['PR' 'USA']
state/region     False
ages             False
year             False
population        True
state            False
area (sq. mi)     True
dtype: bool
['United States']
     state/region   ages  year  population                 state  area (sq. mi)
3              AL  total  2010   4785570.0               Alabama        52423.0
91             AK  total  2010    713868.0                Alaska       656425.0
101            AZ  total  2010   6408790.0               Arizona       114006.0
189            AR  total  2010   2922280.0              Arkansas        53182.0
197            CA  total  2010  37333601.0            California       163707.0
283            CO  total  2010   5048196.0              Colorado       104100.0
293            CT  total  2010   3579210.0           Connecticut         5544.0
379            DE  total  2010    899711.0              Delaware         1954.0
389            DC  total  2010    605125.0  District of Columbia           68.0
475            FL  total  2010  18846054.0               Florida        65758.0
485            GA  total  2010   9713248.0               Georgia        59441.0
570            HI  total  2010   1363731.0                Hawaii        10932.0
581            ID  total  2010   1570718.0                 Idaho        83574.0
666            IL  total  2010  12839695.0              Illinois        57918.0
677            IN  total  2010   6489965.0               Indiana        36420.0
762            IA  total  2010   3050314.0                  Iowa        56276.0
773            KS  total  2010   2858910.0                Kansas        82282.0
858            KY  total  2010   4347698.0              Kentucky        40411.0
869            LA  total  2010   4545392.0             Louisiana        51843.0
954            ME  total  2010   1327366.0                 Maine        35387.0
965            MD  total  2010   5787193.0              Maryland        12407.0
1050           MA  total  2010   6563263.0         Massachusetts        10555.0
1061           MI  total  2010   9876149.0              Michigan        96810.0
1146           MN  total  2010   5310337.0             Minnesota        86943.0
1157           MS  total  2010   2970047.0           Mississippi        48434.0
1242           MO  total  2010   5996063.0              Missouri        69709.0
1253           MT  total  2010    990527.0               Montana       147046.0
1338           NE  total  2010   1829838.0              Nebraska        77358.0
1349           NV  total  2010   2703230.0                Nevada       110567.0
1434           NH  total  2010   1316614.0         New Hampshire         9351.0
1445           NJ  total  2010   8802707.0            New Jersey         8722.0
1530           NM  total  2010   2064982.0            New Mexico       121593.0
1541           NY  total  2010  19398228.0              New York        54475.0
1626           NC  total  2010   9559533.0        North Carolina        53821.0
1637           ND  total  2010    674344.0          North Dakota        70704.0
1722           OH  total  2010  11545435.0                  Ohio        44828.0
1733           OK  total  2010   3759263.0              Oklahoma        69903.0
1818           OR  total  2010   3837208.0                Oregon        98386.0
1829           PA  total  2010  12710472.0          Pennsylvania        46058.0
1914           RI  total  2010   1052669.0          Rhode Island         1545.0
1925           SC  total  2010   4636361.0        South Carolina        32007.0
2010           SD  total  2010    816211.0          South Dakota        77121.0
2021           TN  total  2010   6356683.0             Tennessee        42146.0
2106           TX  total  2010  25245178.0                 Texas       268601.0
2117           UT  total  2010   2774424.0                  Utah        84904.0
2202           VT  total  2010    625793.0               Vermont         9615.0
2213           VA  total  2010   8024417.0              Virginia        42769.0
2298           WA  total  2010   6742256.0            Washington        71303.0
2309           WV  total  2010   1854146.0         West Virginia        24231.0
2394           WI  total  2010   5689060.0             Wisconsin        65503.0
2405           WY  total  2010    564222.0               Wyoming        97818.0
2490           PR  total  2010   3721208.0           Puerto Rico         3515.0
state
District of Columbia    8898.897059
Puerto Rico             1058.665149
New Jersey              1009.253268
Rhode Island             681.339159
Connecticut              645.600649
dtype: float64
state
South Dakota    10.583512
North Dakota     9.537565
Montana          6.736171
Wyoming          5.768079
Alaska           1.087509
dtype: float64
state
District of Columbia    8898.897059
Puerto Rico             1058.665149
New Jersey              1009.253268
Rhode Island             681.339159
Connecticut              645.600649
Massachusetts            621.815538
Maryland                 466.445797
Delaware                 460.445752
New York                 356.094135
Florida                  286.597129
Pennsylvania             275.966651
Ohio                     257.549634
California               228.051342
Illinois                 221.687472
Virginia                 187.622273
Indiana                  178.197831
North Carolina           177.617157
Georgia                  163.409902
Tennessee                150.825298
South Carolina           144.854594
New Hampshire            140.799273
Hawaii                   124.746707
Kentucky                 107.586994
Michigan                 102.015794
Washington                94.557817
Texas                     93.987655
Alabama                   91.287603
Louisiana                 87.676099
Wisconsin                 86.851900
Missouri                  86.015622
West Virginia             76.519582
Vermont                   65.085075
Mississippi               61.321530
Minnesota                 61.078373
Arizona                   56.214497
Arkansas                  54.948667
Iowa                      54.202751
Oklahoma                  53.778278
Colorado                  48.493718
Oregon                    39.001565
Maine                     37.509990
Kansas                    34.745266
Utah                      32.677188
Nevada                    24.448796
Nebraska                  23.654153
Idaho                     18.794338
New Mexico                16.982737
South Dakota              10.583512
North Dakota               9.537565
Montana                    6.736171
Wyoming                    5.768079
Alaska                     1.087509
dtype: float64